.container {
    position: absolute;
    width: 100%;
    top: 20%;
    left: 75%;
    transform: translate(-50%, -50%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #172c49;
    color: #f6f8c7;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

h2 {
    font-size: 45px;
    margin-top: 10%;
}

input {
    /* border: none; */
    /* border:2px solid #f6f8c7; */
    background-color: #f6f8c7;
    color: black;
    height: 7vh;
    font-size: 20px;
    outline: none;
    border: none;
    width: 35%;
    border-radius: 15px;
    padding-left: 2%;
}

.done,
.edit {
    background-color: #f6f8c7;
    height: 4vh;
    width: 4%;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

.edit {
    margin-left: 1%;
}

.done {
    margin-left: 1%;
}

.fa-trash {
    margin-left: 10%;
    font-size: 23px;
}

li {
    font-size: 20px;
    margin-top: 1%;
    margin-left: 2%;
}

#add {
    background-color: #f6f8c7;
    height: 7vh;
    width: 9%;
    border-radius: 15px;
    font-size: 19px;
    border: none;
    font-weight: bold;
}